.list {
    list-style-type: none;
    margin: 0 auto 20px;
    padding: 15px 20px 30px;
    background-color: white;
}

.list__item {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    border-bottom: 2px solid rgb(216, 216, 216);
    padding: 15px;
}
.list__item--hidden {
    display: none;
}

.list__span {
    color: rgb(46, 45, 45);
    word-break: break-all;
    font-size: 20px;
    padding: 0 5px;
}

.list__span--done {
    text-decoration: line-through;
}

.list__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 8px;
    height: 30px;
    width: 30px;
    color: white;
}

.list__button:hover {
    cursor: pointer;
}

.list__button:active {
    outline: 1px solid #000;
}

.list__button--done {
    background-color: rgb(22, 170, 22);
}

.list__button--remove {
    background-color: rgb(238, 3, 3);
}